/* *{ padding: 0px;
    margin: 0px; */
/* width: 1920px; */
/* height: 4760px; */
   *{ font-family: 'Work Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 20px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2rem;
    font-weight: 700;
    color: black;
    text-align: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    
text-align: center;
font-size: 18px;
font-weight: 500;
}
nav li a{
    text-decoration: none;
    color:#424242;
}
.banner-content{
    text-align: center;
    max-width: 860px;
    margin: 0px auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.banner-title{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}
.banner-para{
    color:#727272;
text-align: center;
font-size: 16px;
font-weight: 400;
padding-bottom: 30px;
}
.btn-primary{
width: 180px;
height: 64px;
border: none;
border-radius: 8px;
background-color: #FF900E;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 600;
cursor: pointer;
}
.banner-content img{
    width: 100%;
}

/* responsive media */
@media  screen and (max-width:576px) {
    header{
        padding: 0px;
    }
    nav{
        flex-direction: column;
        align-items: normal;
    }
    .banner-content{
        margin-top: -100px;
    }
    .banner-content, img{
        width: 100%;
    }
}
@media screen and (min-width:576px) and (max-width:960px){
    header{
        padding: 0px 20px;
    }
    nav{
        flex-direction: column;
        align-items: normal;
    }
    .banner-content{
        margin-top: -100px;
    }
    .banner-content, img{
        width: 100%;
    }
    nav > ul{
        justify-content: center;
    }
}